includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon
    - conf/slam-rules.neon
    - conf/thecodingmachine-rules.neon

parameters:
    paths:
        - lib/
        - tests/
    excludes_analyse:
        - tests/TestAsset/
        - tests/TmpAsset/

services:
	scopeIsInClass:
		class: PHPStan\Internal\ScopeIsInClassTypeSpecifyingExtension
		arguments:
			isInMethodName: isInClass
			removeNullMethodName: getClassReflection
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
