includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon
    - conf/slam-rules.neon
    - conf/symfony-rules.neon
    - conf/not-now-rules.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - lib/
        - tests/
    excludePaths:
        analyseAndScan:
            - tests/NotNow/TestAsset/
            - tests/TestAsset/
            - tests/TmpAsset/
