services:
    -
        class: SlamPhpStan\NoTimeRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\NoDateWithoutSecondArgumentRule
        tags:
            - phpstan.rules.rule
