services:
    -
        class: SlamPhpStan\NotNow\NoTimeRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\NotNow\NoDateWithoutSecondArgumentRule
        tags:
            - phpstan.rules.rule
