services:
    -
        class: SlamPhpStan\NotNow\NoTimeRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\NotNow\NoDateWithoutSecondArgumentRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\NotNow\NoRelativeStrtotimeRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\NotNow\NoRelativeDateTimeInterfaceRule
        tags:
            - phpstan.rules.rule
