services:
    -
        class: SlamPhpStan\SymfonyFilesystemRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\SymfonyProcessRule
        tags:
            - phpstan.rules.rule
