services:
    -
        class: SlamPhpStan\AccessStaticPropertyWithinModelContextRule
        tags:
            - phpstan.rules.rule
        arguments:
            modelBaseClassOrInterface: yii\db\ActiveRecordInterface
            singletonAccessor: yii\BaseYii
    -
        class: SlamPhpStan\AccessStaticPropertyWithinModelContextRule
        tags:
            - phpstan.rules.rule
        arguments:
            modelBaseClassOrInterface: yii\db\ActiveQueryInterface
            singletonAccessor: yii\BaseYii
    -
        class: SlamPhpStan\AccessGlobalVariableWithinContextRule
        tags:
            - phpstan.rules.rule
        arguments:
            contextBaseClassOrInterface: yii\db\ActiveRecordInterface
    -
        class: SlamPhpStan\AccessGlobalVariableWithinContextRule
        tags:
            - phpstan.rules.rule
        arguments:
            contextBaseClassOrInterface: yii\db\ActiveQueryInterface
